*{
	padding: 0;
	margin: 0;
	outline: none;
	border: none;
	box-sizing: border-box;
}

body{
	height: 100vh;
}

#main-transforms-container{
	width: 100%;
	height: 100%;
	background-color: #F9D5D5;
	display: grid;
	grid-template-columns: 2fr 2fr;
	grid-gap: 0.2em;
}

.transsform-group{
	background-color: #C6F4C9;	
	display: grid;
	grid-template-columns: 2fr 2fr;
	align-items: center;
	justify-items: center;
}

.transsform-group > img{
	margin: 5px;
	max-width: 50%;
	max-height: 50%;
}

#first-image{
	transform: rotate(45deg);
	/*transform-origin: center;*/
}
#second-image{
	transform: rotatex(70deg) rotateY(45deg);
}
#third-image{
	transform: matrix(1,0.25,0.25,1,20,20);
}
